body {
    margin: 0;
}

.block {
    width: 500px;
    margin: 10rem auto;
    
}

.control {
    background-color: gainsboro;
    padding: 20px;
    border-radius: 20px;

}

.field {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 20px;
    width: 85%;
    transition: 00.7s;
}

.field:hover {
    padding: 10px 10px;
    border: 2px solid red;
    transition: 00.7s;
}

.list {
    padding: 30px;
    overflow: hidden;
    line-height: 50px;
}

.checkbox {
    display: flex;
}

.task {
    display: flex;
    margin-left: 30px;
    margin-top: -34px;
}

.add {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 10px;
    color: black;
    background-color: white;
}

.add:hover {
    color: white;
    background-color: red;
    transition: 0.7s;
}

