body {
    margin: 0;
    text-align: center;
}

.block {
    display: inline-block;
    margin-top: 10px;
}

.control {
    padding: 0;
    border: 1px solid red;
    transition: 0.7s;
}

.field {
    padding: 10px;
    border: none;
    transition: 0.7s;
    outline: none;
}

.field:hover {
    padding: 20px;    
    transition: 0.7s;
}

.add {
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 40px;
}

.list {
    text-align: start;
    margin-top: 10px;
}

.task {
    list-style-type: none;
    padding: 0;
}

.complete {
    color: red;
    text-decoration: line-through;
    transition: 0.7s;
    list-style-type: none;
}